//- DROPDOWNS

mixin dropdownControl(name, items)
  div.dropdown(data-expanded="false")
    span(class="dropdown__name")= name
    i.material-icons.dropdown__arrow keyboard_arrow_down
    ul.dropdown__items
      each item in items
        li(class="dropdown__item" )
          a(href=item.url)= item.name


mixin dateDropdown(id)
  if id 
    div(id=id).dateDropdown
      div.dateDropdown__datepicker-container
        div.dateDropdown__buttons
          - var from_id = id+'_from'
          div.dropdown-btn.dateDropdown__button
            span(id=from_id) ДД.ММ.ГГГГ
            i.material-icons keyboard_arrow_down
          - var to_id = id+'_to'
          div.dropdown-btn.dateDropdown__button
            span(id=to_id) ДД.ММ.ГГГГ
            i.material-icons keyboard_arrow_down
        div.dateDropdown__calendar.dateDropdown__calendar_hidden
          - var calendar_id = id+'_cal'
          +DatePicker(calendar_id)
  else
   p ID is required

mixin dropdownOptions(id, options) 
  if id 
    div(id=id).dropdownOptions
      div.dropdown-btn.dropdownOptions__button
        span.dropdownOptions__text-field Сколько гостей
        i.material-icons keyboard_arrow_down
      div.dropdownOptions__content.dropdownOptions_hidden
        each option in options  
          div.dropdownOptions__option(name=option.name)
            span.dropdownOptions__option-text=option.text
            div.dropdownOptions__option-controls
              i.dropdownOptions__icon.dropdownOptions__decr.dropdownOptions__icon_disabled -
              span.dropdownOptions__option-counter 0
              i.dropdownOptions__icon.dropdownOptions__incr +

        div.dropdownOptions__buttons
          button(class="btn btn_text dropdownOptions__clear" ) Очистить
          button(class="btn btn_text dropdownOptions__confirm") Применить
  else
   p ID is required

//- Checkbox
mixin expCheckbox(id, text, options)
  if id
    div(id=id).expCheckbox
      div.dropdown-btn.expCheckbox__button
          span.dropdownOptions__text-field=text
          i.material-icons keyboard_arrow_down
      div.expCheckbox__content
        each option in options  
          div.expCheckbox__option(name=option.name)
            div.checkbox
              i
            span=option.text
  else
    p ID is required

mixin richCheckbox(id, text, options)
  if id
    div(id=id).richCheckbox
      h3(.richCheckbox__title)=text
      div.richCheckbox__content
        each option in options
          div.richCheckbox__option(name=option.name)
            div.checkbox
                i
            div.richCheckbox__option-text
              p=option.title
              p=option.text
  else
    p ID is required
//- DATEPICKER
mixin DatePicker(id)
  div(id=id).datepicker
    div.datepicker__controls
      i.material-icons.datepicker__back arrow_back
      div.datepicker__controls-info
        
      i.material-icons.datepicker__forward arrow_forward
    div.datepicker__calendar
      div.datepicker__dayNames
        span пн
        span вт
        span ср
        span чт
        span пт
        span сб
        span вс
      div.datepicker__dayNumbers
        
    div.datepicker__buttons
      span.datepicker__cancel отменить
      span.datepicker__submit применить
//- BUTTONS

mixin buttonFilledWithArrow(name, type, id)
  if type === 'border'
    button(class="btn btn_no-bg" id=id)=name
  else if type === 'text'
    button(class="btn btn_text" id=id)=name
  else if type === 'arrow'
    button(class="btn btn_bg-arrow" id=id)
      span=name
      i.material-icons.btn__arrow arrow_forward
  else
    button(class="btn" id=type)=name

//- LIKE BUTTON
mixin likeBtn(liked, likes)
  div(liked=String(liked) likes=likes).likeBtn
    i.material-icons favorite_border
    span=likes



//- CARDS
mixin cardPickDate() 
  div.card
    div.card__content
      h1.card__title


//- RATE BUTTON

mixin rateButton(id)
  if id
    div(id=id).rateButton
      i.material-icons star_border
      i.material-icons star_border
      i.material-icons star_border
      i.material-icons star_border
      i.material-icons star_border
  else  
    p ID is required


//- RANGE SLIDER
mixin rangeSlider(id, title, currency)
  if id
    div(id=id).rangeSlider
      div.rangeSlider__header
        h3=title 
        p.rangeSlider__values
          span(class="rangeSlider__currency")=currency
      div.rangeSlider__slider
  else
    p ID is required

//- ICON TEXT LIST

mixin iconTextList(items)
  div.iconTextList
    each item in items
      div.iconTextList__item
        i(class="material-icons")=item.icon
        div.iconTextList__body
          p=item.title
          p=item.text



//- REVIEW
mixin review(review)
  div.review
    div.review__left-column
      div.review__avatar
        img(src=review.src)
      div.review__like-button
        +likeBtn(review.liked, review.likes)
    div.review__right-column
      p(class="review__title")=review.title
      p(class="review__time")=review.time
      p(class="review__text")=review.text